<div class="col-10 offset-1 about">
<h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="https://melissaprofile.netlify.com">Melissa</a>. A little yik yak of unsolicited thoughts and advice. Go ahead and spill it here, someone's listening! (Though I fear for them if they heed any of your advice....kidding, but really.) 
</p>
<br />
<p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
</p>

<div class="row">
    <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg', class: 'img-fluid' %>
</div>

<div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Melissa Nolasco</h2>
    <br />
    <p>
        Melissa Nolasco is a former Trust Operations Supervisor for a globally renowned Investment Firm. She is now jumping into the Tech world one code at a time.
    </p>
</div>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />


